<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=studentdata21.mssql.somee.com;Initial Catalog=studentdata21;Integrated Security=False;User ID=user_number_one_SQLLogin_1;Password=sfq84dzdcm;Connect Timeout=3000;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <machineKey validationKey="32E35872597989D14CC1D5D9F5B1E94238D0EE32CF10AA2D2059533DF6035F4F" decryptionKey="B179091DBB2389B996A526DE8BCD7ACFDBCAB04EF1D085481C61496F693DF5F4"/>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" applicationName="WebApplication1" connectionStringName="ApplicationServices" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" passwordFormat="Encrypted" requiresUniqueEmail="true" maxInvalidPasswordAttempts="15" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms name="WEBTESTCOOKIES" loginUrl="Views/Registration/Login.aspx" defaultUrl="Default.aspx" timeout="500"/>
    </authentication>
    <authorization/>
    <compilation debug="true"/>
  </system.web>
  
</configuration>